
@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa.ttf");

}


#navbarContainer {
    -fx-background-color: #5AC8FA;
    -fx-alignment: "CENTER";
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-background-radius: 15;
   /* -fx-max-width: infinity;*/

}

.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-font-family: Comfortaa;
    -fx-max-width: 300px;
}

#tabella{
    -fx-background-color: #5AC8FA;
}


.button:hover {
    -fx-background-color: #2980b9;
}

.label{
    -fx-font-family: "Comfortaa";
    -fx-font-size: 13px;
    -fx-font-weight: 700;
}

.text{
    -fx-font-family: "Comfortaa";
    -fx-font-size: 15px;
    -fx-font-weight: 700;
}

.root{
    -fx-background-color: #F9F9F9;


}

.tabellaPiccola{
    -fx-max-width: 850px;
    -fx-max-height: 250;

}

.bottonePaziente{
    -fx-pref-width: 200px;
    -fx-pref-height: 90px;
}

.email{
    -fx-background-color: #f0f8ff;
    -fx-text-fill: #333333;
    -fx-font-family: 'Arial';
    -fx-font-size: 14;
    -fx-border-color: #87CEEB;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 5;
}

.testo {
    -fx-font-family: "Comfortaa";
    -fx-font-size: 15px;
    -fx-font-weight: 700;
}

.error {
    -fx-fill: red;
    -fx-font-family: "Comfortaa";
    -fx-font-size: 12px;
    -fx-font-weight: 700;
}

#aggiungiUtentePane{
    -fx-background-color: #5AC8FA;
    -fx-background-radius: 15px;

}

.box {
    -fx-background-color: #f0f0f0;
    -fx-padding: 15;
    -fx-border-color: #c0c0c0;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

.grigliePaziente{
    -fx-alignment: CENTER;
    -fx-hgap: 25;
    -fx-vgap: 50;
    -fx-background-color: #83E2F2;
    -fx-background-radius: 15;
    -fx-background-position: center;
    -fx-max-height:500;
    -fx-max-width: 700;
}

.table-view {
    -fx-background-color: #f8f9fa;
    -fx-border-color: #dee2e6;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 5;
}

.chart {
    -fx-background-color: #f8f9fa;
    -fx-padding: 10;
    -fx-background-radius: 8;
    -fx-border-color: #dee2e6;
    -fx-border-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 8, 0.2, 0, 2);
}
