.form-container {
    -fx-background-color: #FFFFFF;
}

.image-pane {
    -fx-background-color: #F0F0F0;
}

.form-box {
    -fx-padding: 40;
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 2);
    -fx-max-width: 350;
}

.title {
    -fx-font-size: 22px;
    -fx-font-family: "Inter Semi Bold";
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.logo-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #222;
}
